<header class="app-header">
  <nav class="app-nav">

  <ul>
    <li class="active nav-item">
      <%= link_to "Charts", '#' %>
    </li>

    <li class="nav-item">
      <%= link_to "Playlists", '#' %>
    </li>

    <li class="nav-item">
      <%= link_to "Account", '#' %>
    </li>

    <li class="nav-subitem">
      <%= link_to "Log in", '#' %>
    </li>

    <li class="nav-subitem">
      <%= link_to "Sign up", '#' %>
    </li>
  </ul>

  </nav>
  <h1 class="app-header-title"><%= link_to "playsette", root_path, id: "logo" %></h1>
</header>
