<% provide(:title, "log in") %>

<section class="content-container static-pages">
  <div class="page-header">Log in</div>

    <%= form_for(:session, url: login_path, html: { class: "sessions-form" }) do |f| %>

      <li class="form-entry">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </li>

      <li class="form-entry">
          <%= f.label :password %>
          <%= f.password_field :password %>
      </li>

      <div class="more-info-flex-end">
       <span>
         <%= f.check_box :remember_me %>&nbsp;Remember me on this computer
       </span>
      </div>

      <%= f.submit "Log in", class: "submit-button" %>

      <div class="more-info">
        <span>
          <%= link_to "Forgot password?", new_password_reset_path %>
        </span>
        <span>
          Not registered? <%= link_to "Sign up.", signup_path %>
        </span>
      </div>

    <% end %>

</section>
