<div id="track-<%= track.id %>" class="row track">

      <div class="col-xs-3">
        <div class="track-rank"><span class="glyphicon glyphicon-play" aria-hidden="true" style="float:left"></span></div>
      </div>
      <div class="col-xs-6 col-xs-offset-2 text-right track-info">
        <div class="track-title"><%= track.title %></div>
        <div class="track-artist"><%= track.artist %></div>
        <div><span class="track-album"><%= track.album %></span>  [<span class="track-year"><%= track.year %></span>]
        </div>
      </div>

      <div class="col-xs-8 track-details">
        <div class="col-xs-offset-1 track-timestamp">
        <%= time_ago_in_words(track.created_at) %> ago
        </div>
      </div>

      <div class="col-xs-4 track-reactions-container">
        <div>
          <div class="track-reaction"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></div>
        </div>
        <div>
          <div class="track-reaction"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
        </div>
      </div>

</div>
