<% provide(:title, "submit track") %>
<section class="content-container static-pages">
  <div class="page-header">edit track</div>

  <%= form_for(@track)  do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <li class="form-entry">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'response-data'%>
    </li>

    <li class="form-entry">
      <%= f.label :artist %>
      <%= f.text_field :artist, class: 'response-data'%>
    </li>

    <li class="form-entry">
      <div class='col-xs-12 form-split-row-label'>
        <span class='col-xs-8'>
          <%= f.label :album %>
        </span>
        <span class='col-xs-4'>
          <%= f.label :year %>
        </span>
      </div>
      <div class='col-xs-12 form-split-row-input'>
        <span class='col-xs-8'>
          <%= f.text_field :album, class: 'response-data' %>
        </span>
        <span class='col-xs-4'>
          <%= f.select :year, ((Time.zone.now.year - 100)..(Time.zone.now.year)).to_a.reverse, prompt: @track.year %>
        </span>
      </div>
    </li>

    <li class="form-entry form-entry-nontext">
      <% if @track.album_art.exists? %>
        <%= image_tag @track.album_art.url(:medium), style: 'height: 80px; width: 80px;' %>
      <% end %>
      <%= f.file_field :album_art, class: 'response-data' %>
    </li>

    <%= f.submit 'Submit', class: 'submit-button' %>

  <% end %>

</section>
