<% provide(:title, "submit track") %>
<section class="content-container static-pages track-submission-form">
  <div class="page-header">edit track</div>

  <%= form_for(@track)  do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :artist %>
      <%= f.text_field :artist, class: 'form-control' %>
    </div>

    <div class="form-group row">
      <div class="col-8">
        <%= f.label :album %>
        <%= f.text_field :album, class: 'form-control' %>
      </div>
      <div class="col-4 stretch-select-stack">
        <%= f.label :year %>
        <%= f.select :year, ((Time.zone.now.year - 100)..(Time.zone.now.year)).to_a.reverse, prompt: @track.year, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <% if @track.album_art.exists? %>
        <%= image_tag @track.album_art.url(:medium), style: 'height: 80px; width: 80px;' %>
      <% end %>
      <%= f.file_field :album_art, class: 'form-control-file' %>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-primary submit-button' %>

  <% end %>

</section>
