<% provide(:title, "submit track") %>
<section class="content-container static-pages">
  <div class="page-header">edit track</div>

  <%= form_for(@track)  do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <li class="form-entry">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'response-data' %>
    </li>
    <li class="form-entry">
      <%= f.label :artist %>
      <%= f.text_field :artist, class: 'response-data' %>
    </li>
    <li class="form-entry">
      <%= f.label :album %>
      <%= f.text_field :album, class: 'response-data' %>
    </li>
    <li class="form-entry">
      <%= f.label :year %>
      <%= f.select :year, ((Time.zone.now.year - 100)..(Time.zone.now.year)).to_a.reverse, prompt: '--', class: 'response-data' %>
    </li>
    <li class="form-entry">
      <%= f.label :album_art %>
      <%= f.file_field :album_art, class: 'response-data' %>
    </li>

    <%= f.submit 'Submit', class: 'submit-button' %>

  <% end %>

</section>
