<% provide(:title, "submit track") %>
<section class="content-container static-pages">
  <div class="page-header">submit track</div>
    <%= form_for(@track) do |f| %>

      <div class="track-submission-nav">
        <span class="nav-item select-track-type">Submit link</span>
        <span class="nav-item select-track-type">Upload file</span>
      </div>

      <div id="embedded-form" class="form-entry">
          <%= render 'tracks/forms/embedded', f: f %>
      </div>

      <div id="upload-form" class="form-entry">
          <%= render 'tracks/forms/upload', f: f %>
      </div>

      <% if @track.track_loaded? %>

      <% end %>



      <%= render 'tracks/forms/metadata', f: f %>

      <%= f.submit "Submit", class: "submit-button" %>

    <% end %>
</section>
