<% provide(:title, "submit track") %>
<section class="content-container static-pages">
  <div class="page-header">submit track</div>
    <%= form_for(@track, html: { multipart: true }, url: submit_path) do |f| %>

      <div class="track-submission-nav">
        <li class="select-submission-type" id="select-url"></li>
        <li class="select-submission-type" id="select-upload"></li>
      </div>

      <div id="submit-url">
        <%= hidden_field_tag :kind, '' %>
        <%= render 'tracks/forms/link-source', f: f %>
      </div>

      <div id="submit-upload">
        <%= hidden_field_tag :kind, 'Upload' %>
        <%= render 'tracks/forms/upload-source', f: f %>
      </div>

      <% if f.source_missing_metadata? %>
        <%= render 'tracks/forms/metadata', f: f %>
      <% end %>

      <%= f.submit "Submit", class: "submit-button" %>

    <% end %>
</section>
