<% provide(:title, "submit track") %>
<section class="content-container static-pages">
  <div class="page-header">submit track</div>
    <%= form_for(@track) do |f| %>

      <li class="form-entry">
        <%= f.label "Link to source" %>
        <%= f.text_field :url_src %>
      </li>
      <li class="form-entry">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>

      <li class="form-entry">
        <%= f.label :artist %>
        <%= f.email_field :artist %>
      </li>


      <li class="form-entry">
        <%= f.label :album %>
        <%= f.password_field :album %>
      </li>

      <li class="form-entry">
        <%= f.label :year %>
        <%= f.password_field :year %>
      </li>

      <%= f.submit "Submit", class: "submit-button" %>

    <% end %>
</section>
