<% provide(:title, "submit track") %>
<section class="content-container static-pages">
  <div class="page-header">submit track</div>
    <%= form_for(@track) do |f| %>

    <li class="form-entry">
      <%= f.radio_button :src_type, 'upload', class: 'src_type', :checked => true %> Web link
      <%= f.radio_button :src_type, 'embedded', class: 'src_type', :disabled => false %>Upload a file
    </li>

      <li class="upload" class="form-entry">
          <%= render 'tracks/forms/upload', f: f %>
      </li>

      <li class="embedded" class="form-entry">
          <%= render 'tracks/forms/embedded', f: f %>
      </li>

      <% if @track.track_loaded? %>
        <%= render 'tracks/forms/metadata', f: f %>
      <% end %>

      <%= f.submit "Submit", class: "submit-button" %>

    <% end %>
</section>
