<% provide(:title, "submit track") %>
<section class="content-container static-pages">
  <div class="page-header">submit track</div>
    <%= form_for(@track_submission) do |f| %>

      <%= f.select [:track][:kind], [['Embedded', 1], ['Video', 2], ['Upload', 3]] %>

      <div id="embedded-form" class="form-entry">
          <%= render "track_submissions/forms/embedded", f: f %>
      </div>

      <div id="upload-form" class="form-entry">
          <%= render 'track_submissions/forms/upload', f: f %>
      </div>

      <%= render 'track_submissions/forms/metadata', f: f %>

      <%= f.submit "Submit", class: "submit-button" %>

    <% end %>
</section>
