<%= form_for(@track)  do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :kind, value: 'Embedded' %>
  <%= f.hidden_field :playback, value: 'Audio' %>


  <li class="form-entry">
    <%= f.label :submission_source, 'URL' %>
    <%= f.text_field :submission_source, id: 'url_source' %>
  </li>

  <%= f.submit 'Submit', class: 'submit-button' %>

<% end %>
