<%= form_for(@track)  do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :kind, value: 'Upload' %>
  <%= f.hidden_field :playback, value: 'Audio' %>

  <li class="form-entry">
    <%= f.label :submission_source, 'File' %>
    <%= f.file_field :submission_source, id: 'upload-source' %>
  </li>

  <%= f.submit 'Submit', class: 'submit-button' %>

<% end %>
