<% provide(:title, "edit profile") %>
<section class="content-container static-pages">

  <div class="page-header">Settings</div>

    <%= form_for(@user) do |f| %>

    <%= render "shared/error_messages", object: f.object %>

    <div class="page-subheader">Edit your profile</div>

      <li class="form-entry"><%= f.text_field :name, placeholder: "NAME" %></li>

      <li class="form-entry"><%= f.text_field :profile_bio, placeholder: "About me" %></li>

      <div class="page-subheader">Account information</div>

      <li class="form-entry"><%= f.email_field :email, placeholder: "EMAIL" %></li>

      <li class="form-entry"><%= f.password_field :password, placeholder: "PASSWORD" %></li>

      <li class="form-entry"><%= f.password_field :password_confirmation, placeholder: "CONFIRM PASSWORD" %></li>

      <%= f.submit "Save", class: "submit-button" %>

    <% end %>

</section>
