<% provide(:title, "sign up") %>
<section class="content-container static-pages">
  <div class="page-header">Sign up</div>
    <%= form_for(@user, url: signup_path, class: "signup-form") do |f| %>
    <%= render 'shared/error_messages' %>
      <li class="form-entry">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </li>
      <li class="form-entry">
        <%= f.label :name %>
        <%= f.text_field :name%>
      </li>

      <li class="form-entry">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </li>


      <li class="form-entry">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>

      <li class="form-entry">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
      </li>

      <%= f.submit "Create account", class: "submit-button" %>

    <% end %>
</section>
