<% provide(:title, "sign up") %>

<section class="content-container user-profile-form">
  <div class="page-header">sign up</div>
  <%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <li class="form-entry">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </li>
  <li class="form-entry">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </li>
  <li class="form-entry">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </li>
  <li class="form-entry">
    <%= f.label :password_confirmation, 'Confirm password' %>
    <%= f.password_field :password_confirmation %>
  </li>
  <%= f.submit 'Submit', class: 'btn btn-primary submit-button' %>
  <% end %>
</section>
