<% provide(:title, "sign up") %>
<section class="content-container static-pages">
  <div class="page-header">Sign up</div>
    <%= form_for(@user, url: signup_path, class: "signup-form") do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <li class="form-entry"><%= f.text_field :username, placeholder: 'USERNAME' %></li>

      <li class="form-entry"><%= f.email_field :email, placeholder: 'EMAIL' %></li>

      <li class="form-entry"><%= f.password_field :password, placeholder: 'PASSWORD' %></li>

      <li class="form-entry"><%= f.password_field :password_confirmation, placeholder: 'CONFIRM PASSWORD' %></li>

      <%= f.submit "Create account", class: "submit-button" %>

    <% end %>
</section>
