<% content_for :title, @user.username %>
<% content_for :title, "top tracks" %>

<%= content_for :page_header, @user.username %>

<%= content_for :page_nav_label, "Top" %>

<%= content_for :page_nav do %>
  <%= render 'users/social/follow_options' if logged_in? %>
  <%= render 'users/menus/profile_menu' %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-3 col-lg-2">
    <img src="<%= @user.avatar.url(:thumb) %>" />
    <div class="profile-name"><%= @user.name %></div>
    <div class="profile-stats"><%= render "users/social/follow_stats" %></div>
  <% unless @user.profile_bio.nil? %>
    <div class="profile-bio"><%= @user.profile_bio %></div>
  <% end %>
</div>


<div class="col-xs-12 col-md-8 col-lg-9 mr-auto">
  <% if @user.tracks.any? %>
    <div class="row row-eq-height tracks-container">
      <%= render @tracks %>
    </div>
    <div class="row">
      <%= will_paginate @tracks %>
    </div>
  <% end %>
</div>
</div>
