<% content_for :title, @user.username %>

<nav class="navbarpage-nav">
  <div class="navbar-brand page-header"><%= @user.username %></div>
</nav>

<div class="row">
  <div class="col-xs-12 col-md-3 col-lg-2">
    <img src="<%= @user.avatar.url(:thumb) %>" />
    <div class="profile-name"><%= @user.name %></div>
    <div class="profile-stats"><%= render "users/social/follow_stats" %></div>
    <%= render 'users/social/follow_options' if logged_in? %>
    <% if !@user.profile_bio.nil? %>
      <div class="profile-bio"><%= @user.profile_bio %></div>
    <% end %>
    <%= render 'users/menus/profile_menu' %>
  </div>


<div class="col-xs-12 col-md-8 col-lg-9 mr-auto">
  <% if @user.tracks.any? %>
    <div class="row row-eq-height tracks-container">
      <%= render @tracks %>
    </div>
    <div class="row">
      <%= will_paginate @tracks %>
    </div>
  <% end %>
</div>
</div>
