
<div class="page-header row">
  <div class="profile-username"><%= @user.username %></div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="profile-name"><%= @user.name %></div>
    <div class="profile-stats"><%= render "users/social/follow_stats" %></div>
    <%= render 'users/social/follow_options' if logged_in? %>
    <% if !@user.profile_bio.nil? %>
      <div class="profile-bio"><%= @user.profile_bio %></div>
    <% end %>
    <%= render 'users/menus/profile_menu' %>
  </div>


<div class="col-xs-12 col-sm-7 ml-auto">
  <% if @user.tracks.any? %>
    <ol>
      <%= render @tracks %>
    </ol>
    <%= will_paginate @tracks %>
  <% end %>
</div>
</div>
