<% provide(:title, "profile: #{ @user.name }") %>
<section class="content-container static-pages">
  <div class="page-header"><%= @user.username %></div>
  <div><%= @user.name %></div>
  <div><%= @user.profile_bio %></div>
  <div class="page-subheader">loved tracks</div>
  <!-- <%= render @user.loved => -->
  <div class="page-subheader">submitted tracks</div>
  <!-- <%= render @user.loved => -->
</section>
