<% provide(:title, "profile: #{ @user.name }") %>
<section class="content-container static-pages">
  <div class="page-header"><%= @user.username %></div>
  <div><%= @user.name %></div>
  <div><%= @user.profile_bio %></div>
   <%= render 'users/social/follow_options' if logged_in? %>
  <div class="page-subheader">loved tracks</div>

  <% if @user.tracks.any? %>
    <div class="page-subheader">
      submitted tracks
    </div>
    <ol>
      <%= render @tracks %>
    </ol>
    <%= will_paginate @tracks %>
  <% end %>

</section>
