<ul class="nav page-nav ">
  <li class="nav-item">
    <%= link_to 'Overview', user_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Submitted', '#', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Loved', '#', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Comments', '#', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Notes', '#', class: 'nav-link' %>
  </li>
  <% if logged_in? && @user == current_user %>
    <%= render 'users/menus/current_user_profile_menu' %>
  <% end %>
</ul>
