<% provide(:title, "submit track") %>

<section class="content-container embedded-form">
  <div class="page-header">submit track</div>

  <%= render 'tracks/menus/submit' %>

  <%= form_for Embedded.new do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="form-group">
      <%= f.text_field :source_path, id: 'url_source', placeholder: 'URL' %>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-primary submit-button' %>

  <% end %>

</section>
