<% provide(:title, "submit track") %>

<section class="content-container static-pages embedded-form">
  <div class="page-header">submit track</div>

  <%= render 'tracks/menus/submit' %>

  <%= form_for Embedded.new do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <li class="form-entry">
      <%= f.text_field :source_path, id: 'url_source', placeholder: 'URL' %>
    </li>

    <%= f.submit 'Submit', class: 'submit-button' %>

  <% end %>

</section>
