<ul class="nav page-nav">
  <li class="<%= current_class?(root_path) %> nav-item">
    <%= link_to 'Top', root_path, class: 'nav-link' %>
  </li>
  <li class="<%= current_class?(nil) %> nav-item">
    <%= link_to 'New', '#', class: 'nav-link' %>
  </li>
  <li class="<%= current_class?(nil) %> nav-item">
    <%= link_to 'All time', '#', class: 'nav-link' %>
  </li>
  <li class="<%= current_class?(nil) %> nav-item">
    <%= link_to 'Following', '#', class: 'nav-link' %>
  </li>
</ul>
