<li class="<%= current_class?(root_path) %> nav-item">
  <a class="nav-link" data-toggle="collapse" href="#collapseCharts" aria-expanded="false" aria-controls="collapseCharts">
    CHARTS
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </a>
  <section class="collapse" id="collapseCharts">
    <div><%= link_to "All", root_path %></div>
    <div class="dropdown-divider"></div>
    <div><%= link_to "Audio", root_path %></div>
    <div><%= link_to "Video", root_path %></div>
  </section>
</li>
<li class="<%= current_class?(submit_path) %> nav-item">
  <%= link_to 'SUBMIT', submit_path, class: 'nav-link' %>
</li>
