<header class="app-header">
  <nav class="app-nav">

  <ul>
    <li class="active nav-item">
      <%= link_to "Charts", root_path %>
    </li>

    <li class="nav-item">
      <%= link_to "Playlists", '#' %>
    </li>

    <% if logged_in? %>

    <li class="nav-item menu">
      <%= link_to "#{current_user.username}", current_user %>
      <ul>
        <li class="nav-subitem">
          <%= link_to "Profile", current_user %>
        </li>

        <li class="nav-subitem">
          <%= link_to "Settings", edit_user_path(current_user) %>
        </li>

        <li class="nav-subitem">
          <%= link_to "Log out", logout_path, method: "delete" %>
        </li>
      </ul>
    </li>

  <% else %>
    <li class="nav-subitem">
      <%= link_to "Log in", login_path %>
    </li>

    <li class="nav-subitem">
      <%= link_to "Sign up", new_user_path %>
    </li>
    <% end %>

  </ul>

  </nav>
  <h1 class="app-header-title"><%= link_to "playsette", root_path, id: "logo" %></h1>
</header>
