<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"> </script> <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header class="app-header">
        <nav class="app-nav">
          <span class="active nav-item">
            <%= link_to "Charts", '#' %>
          </span>
            <span class="nav-item">
              <%= link_to "Playlists", '#' %>
            </span>
          <span class="nav-item">
            <%= link_to "Account", '#' %>
          </span>
        </nav>
        <h1 class="app-header-title"><%= link_to "playsette", '#', id: "logo" %></h1>
      </header>

      <div class="container">
          <%= yield %>
      </div>

      <footer class="app-footer">
        <nav class="app-nav">
          <span class="active nav-item">
            <%= link_to "Home",   '#' %>
          </span>
          <span class="nav-item">
            <%= link_to "About",   '#' %>
          </span>
          <span class="nav-item">
            <%= link_to "Contact",   '#' %>
          </span>
          <span class="nav-item">
            <%= link_to "Help",   '#' %>
          </span>
        </nav>
      </footer>
    </div>
  </body>
</html>
