<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"> </script> <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header class="app-header">
        <h1 class="app-header-title"><%= link_to "playsette", '#', id: "logo" %></h1>
        <nav class="app-header-nav">
          <span class="nav-item">
            <%= link_to "Charts", '#' %>
          </span>
            <span class="nav-item">
              <%= link_to "Playlists", '#' %>
            </span>
          <span class="nav-item nav-login">
            <%= link_to "Log In", '#' %> /
            <%= link_to "Sign Up", '#' %>
          </span>
        </nav>
      </header>

      <div class="container">
          <%= yield %>
      </div>

      <footer class="app-footer">
        <nav class="app-footer-nav">
          <span class="footer-nav-item">
            <%= link_to "Home",   '#' %>
          </span>
          <span class="nav-item">
            <%= link_to "About",   '#' %>
          </span>
          <span class="nav-item">
            <%= link_to "Contact",   '#' %>
          </span>
          <span class="nav-item">
            <%= link_to "Help",   '#' %>
          </span>
        </nav>
      </footer>
    </div>
  </body>
</html>
