<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"> </script> <![endif]-->
  </head>

  <body>
    <div class="container wrapper">
      <div class="row">
          <%= render 'layouts/main-header' %>
          <div class="well">
            <% flash.each do |response_type, response| %>
              <%= content_tag(:div, response, class: "alert alert-#{response_type}") %>
            <% end %>
          </div>
      </div> <!-- row -->

        <%= yield %>

      <div class="row">
          <%= render 'layouts/main-footer' %>
      </div> <!-- row -->
    </div> <!-- container/wrapper -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
